{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties"
        ],
        [
            "@babel/transform-runtime"
        ],
        [
            "module-resolver",
            {
                "alias": {
                    "@root": [
                        "./",
                        "./"
                    ],
                    "@lib": [
                        "./src/lib",
                        "./bin/lib"
                    ],
                    "@config": [
                        "./src/config",
                        "./bin/config"
                    ],
                    "@control": [
                        "./src/controllers",
                        "./bin/controllers"
                    ],
                    "@service": [
                        "./src/services",
                        "./bin/services"
                    ],
                    "@models": [
                        "./src/models",
                        "./bin/models"
                    ]
                }
            }
        ]
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}