export default {
    host: '',           // Remote or local hostname
    database: '',       // DB Index (database name)
    username: '',       // DB Username
    password: '',       // DB Password
    //dialect: 'mssql'  
    /* dialect can be one of:
     * 'mysql' | 'mariadb' | 'postgres' | 'mssql' 
     * system defaults to mssql 
     */
    
};