export default {
    HOST: "",           // Remote or local hostname
    INDEX: "",          // DB Index (database name)
    USERNAME: "",       // DB Username
    PASSWORD: "",       // DB Password
};